.Menu_bar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45px;
  border-top: 2px solid rgb(184, 168, 142);
}
.Menu_button {
  text-align: center;
  float: left;
  width: 20%;

  /* 세로길이 설정 */
  height: 100%;
  line-height: 45px;
  background: black;
}
.selected {
  color: rgb(184, 168, 142);
}
.notselected {
  color: rgb(119, 119, 119);
}
